<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>LOG_LEVEL: <%= config.LOG_LEVEL %></p>
    <p>CONNECTION_STRING: <%= config.CONNECTION_STRING %></p>
  </body>
</html>
